.conteinerDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    padding: 10px;
    margin: 0;
    flex-wrap: wrap;
  }

  .imgDetail {
        width: 500px;
        height: 80vh; 
  }

  
  .cardDetail {
    position: relative;
    width: 500px;
    height: 80vh; 
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contentDetail{
    position: absolute;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.5s;
  }
  
  .cardDetail .contentDetail {
    bottom: 0px;
  }
  
  .contentBxDetail h1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin: 20px 0 0px;
    line-height: 1.1em;
  }
  
 
  
  .cardDetail .contentBxDetail h2,
  .cardDetail .contentBxDetail p,
  .cardDetail .contentBxDetail h5 {
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
  }
  
 
  .btnVolver {
    background-color:darkslategrey;
    color: whitesmoke;
    padding-top: 1px;
    cursor: pointer;
    text-align: center;
    height: 60px;
    padding: 12px 26px;
    transition-duration: 0.4s;
    border-radius:  25px 25px ;
   
  }

  .btnVolver:hover{
    background-color:olive;
    color: black; 
  }

  .loading {
    align-self: center;
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
    line-height: 1.1em;
  }