
.conteinerMain{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content:space-around;
    padding: 10px;
    background-image: url("../../img/fondoHome.jpg");
    background-size: cover;
  background-repeat: no-repeat;
}

.c5 {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content:space-around;
    padding: 10px;    
}

.c1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content:space-around;
    padding: 10px;
  }
  
  .c2 {
    display:flex;
    flex-direction: row;
    justify-content:space-between; 
    padding: 10px;
    border:3px solid transparent;
    width: 1200px;
    margin: auto;
  }
  
  .c3 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content:space-around;
    padding: 10px;
  }
  
  .c4 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content:space-around;
    padding: 10px;
  }
  
  
  
  .hpbot1 {
    background-color:darkslategrey;
    color: whitesmoke;
    padding-top: 1px;
    cursor: pointer;
    text-align: center;
    height: 60px;
    padding: 12px 26px;
    transition-duration: 0.4s;
    border-radius: 25px 0 0 25px ;
  }
  .hpbot2 {
    background-color:darkslategrey;
    color: whitesmoke;
    padding-top: 1px;
    cursor: pointer;
    text-align: center;
    height: 60px;
    padding: 12px 26px;
    transition-duration: 0.4s;
    border-radius: 0 25px 25px 0;
  }

  .hpbot1:hover, .hpbot2:hover {
    background-color:olive;
    color: black; 
  }
  
  .hpfilter1{
   
    border: 2px solid black;
    height: 60px;
    background-color: wheat;
    cursor:grab;
    border-radius:  25px 0 0 25px ;
    text-align: center;
  }

  .hpfilter2{
    
    border: 2px solid black;
    height: 60px;
    background-color: wheat;
    cursor:grab;
    
  }

  .hpfilter3{
    text-align: center;
    
    border: 2px solid black;
    height: 60px;
    background-color: wheat;
    cursor:grab;
    border-radius: 0 25px 25px 0;
  }

  .hpfilter1:hover, .hpfilter2:hover, .hpfilter3:hover{
    background-color: olive;
  }