.sbcontainer {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;

}
.sbbot {
    background-color:darkslategrey;
    color: whitesmoke;
    padding-top: 1px;
    cursor: pointer;
    text-align: center;
    padding: 8px 24px;
    border-radius: 8px;
    transition-duration: 0.4s;
}
.sbbot:hover {
    background-color:olive;
    color: black; 
}
.sbinput{
    border: 1px solid black
}