.paginado {
    list-style-type: none;
    cursor: pointer;
    margin: 0;
}

.number {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  height: 22px;
  width: 20px;
  background-color:darkslategrey;
  padding:2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8x;
  border-radius: 10px;
}
.number:hover {
    background-color: olive;
}

span {
  color: rgb(20, 19, 19);
  font-size: 20px;
  padding-left: 6px;
}